 * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      font-family: sans-serif;
    }

    body {
      background-color: black;
    }
    .header{
     overflow: auto;
     text-decoration: none;
     color: white;
    }
    .home{
         display: grid;
         grid-gap: .5rem;
       grid-template-columns: 1fr 1fr;
      float: right;
       overflow: auto;
    color: white;
    text-decoration: none;
      position: relative;
      bottom: 15px;
      font-size: medium;
    }
    .container {
      display: flex;
      flex-direction: column;
      min-height: 100vh;
    }

    header {
      padding: 10px 15px 10px 30px;
      font-size: large;
      font-weight: 550;
      color: white;
      height: 50px;
    }
    footer{
      padding: 10px 15px 10px 30px;
      font-size: large;
      font-weight: 550;
      color: white;
      height: 50px;
      text-align: center;
    }

    main {
      display: flex;
      flex-direction: row;
      flex: 1;
    }

    .sidebar {
      font-weight: bold;
      padding: 20px;
      background-color: rgb(221, 221, 221);
      min-width: 200px;
    }

    .content {
      background-color: whitesmoke;
      padding: 20px;
      flex: 1;
    }

    h2 {
      margin-bottom: 20px;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"] {
      width: 100%;
      padding: 10px;
      margin-bottom: 15px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }

    label {
      display: block;
      margin-bottom: 5px;
      font-weight: 600;
    }

    form {
      padding: 10px ;
    }

    .sinin-footer a {
      color: blue;
      text-decoration: none;
      padding-left: 10px;
    }

    button {
      background-color: #007bff;
      color: white;
      padding: 10px 15px;
      border: none;
      border-radius: 5px;
      margin-right: 10px;
    }
    @media (max-width: 768px) {
      main {
        flex-direction: column;
      }

      .sidebar {
        width: 30%;
        min-width: unset;
      }

      .content {
        width: 30%;
      }
    }